<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Post author</strong>
    <small>17.12.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis cupiditate eaque earum et facere illum modi necessitatibus rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis cupiditate eaque earum et facere illum modi necessitatibus rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis cupiditate eaque earum et facere illum modi necessitatibus rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis cupiditate eaque earum et facere illum modi necessitatibus rem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam blanditiis cupiditate eaque earum et facere illum modi necessitatibus rem.</p>
  </div>
</div>
